body {
    margin: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #444;
}

/* Container for the logo. Margins center contents */
.logo {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

/* Image inside logo container resize to fill container keeping aspect ratio */ 
.logo img {
    width: 100%;
    height: auto;
}

/* Big blue bar with white nav links in top right */ 
nav {
    text-align: end;
    background-color: rgb(0, 59, 111);
    padding: 1rem;
}

nav a {
    color: white;
    padding: .5rem;
    font-weight: 600;
    text-decoration: none;
}

/* And the footer */ 
footer {
    text-align: center;
    background-color: rgb(0, 59, 111);
    color: white;
    padding: .25rem 0rem;
}

footer p {
    font-size: .75em;
}