<section id="currentApps">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Apps in the App Store</h2>
                <p>Below are the apps that are currently in the app store. Go check them out. 
                <hr class="primary">
            </div>
        </div>

	<!-- Apps in the app store -->
		<div class="row">

            <!-- Time of Possession -->
            <div class="col-lg-6 text-center">
                <div class="service-box">
                    <img src="img/portfolio/top.png" class="img-rounded" alt="">
                    <h3>Time of Possession</h3>
                    <p class="text-muted">Keep track of time of possession in any sport.</p>
                    <a href="https://apple.co/3srkyq4">
                    	<img class="appStore" src="img/appstore.png" class="img-responsive" alt="" width="220">
                    </a>
                    <p class="text-muted">Get the source code on github</p>
                    <a href="https://github.com/intangiblesoftware/Time-of-Possession">
            			<i class="fa fa-github-square fa-5x"></i>
                    </a>
                </div>
            </div>
            
            <!-- All 50 plates -->
            <div class="col-lg-6 text-center">
                <div class="service-box">
                    <img src="img/portfolio/all50plates.png" class="img-rounded" alt="">
                    <h3>All 50 Plates</h3>
                    <p class="text-muted">Bored on a long car ride? Look for license plates from all 50 states.</p>
                    <a href="https://apple.co/3t4WycH">
                    	<img class="appStore" src="img/appstore.png" class="img-responsive" alt="" width="220">
                    </a>
                    <p class="text-muted">Get the source code on github</p>
                    <a href="https://github.com/intangiblesoftware/all-50-plates">
            			<i class="fa fa-github-square fa-5x"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-12 text-center">
            	<hr class="primary" />
            </div>

            <!-- Women's Lacrosse Stats -->
            <div class="col-lg-6 text-center">
                <div class="service-box">
                    <img src="img/portfolio/womensStats.png" class="img-rounded" alt="">
                    <h3>Women's Lacrosse Stats</h3>
                    <p class="text-muted">A lacrosse stats keeping app specifically for women's lacrosse.</p>
                    <a href="https://apple.co/3A4yF6h">
                    	<img class="appStore" src="img/appstore.png" class="img-responsive" alt="" width="220">
                    </a>
                    <p class="text-muted">Get the source code on github</p>
                    <a href="https://github.com/intangiblesoftware/LacrosseStats">
            			<i class="fa fa-github-square fa-5x"></i>
                    </a>
                </div>
            </div>

            <!-- Men's Lacrosse Stats -->
            <div class="col-lg-6 text-center">
                <div class="service-box">
                    <img src="img/portfolio/mensStats.png" class="img-rounded" alt="">
                    <h3>Men's Lacrosse Stats</h3>
                    <p class="text-muted">Your lacrosse stats clipboard in an iOS app!</p>
                    <a href="https://apple.co/3rfRnUG">
                    	<img class="appStore" src="img/appstore.png" class="img-responsive" alt="" width="220">
                    </a>
                    <p class="text-muted">Get the source code on github</p>
                    <a href="https://github.com/intangiblesoftware/LacrosseStats">
            			<i class="fa fa-github-square fa-5x"></i>
                    </a>
                </div>
            </div>

		</div>
	</div>
</section>

