<!-- Old apps -->
<section id="oldApps">
	<div class="container">
	        <div class="row">
            <div class="col-sm text-center">
                <h2 class="section-heading">Old Apps</h2>
                <p>The following are older apps I've since retired.</p>
                <hr class="primary">
            </div>
        </div>

        <div class="row">            
            <div class="col-md-6 text-center">
                    <img src="img/portfolio/scorebook.png" class="img-rounded" alt="">
                    <h3>Lacrosse Scorebook</h3>
                    <p class="text-muted">Your lacrosse scorebook in an iPad app!</p>
            </div>
            
            <div class="col-md-6 text-center">
                    <img src="img/portfolio/matStats.png" class="img-rounded" alt="">
                    <h3>Mat Stats</h3>
                    <p class="text-muted">An app for keeping score during a wrestling match.</p>
            </div>
            
        </div>
    </div>
</section>
